
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato';
  font-weight: 900;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.bg{
    background: url('https://i.pinimg.com/736x/14/dc/91/14dc912c4cdb2ccc901a89327b4f6cea.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
  }

  .loading-text {
    font-size: 50px;
    color: #FFF;
  }
